@-webkit-keyframes roll {
    from { -webkit-transform: rotate(0deg) }
    to   { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes roll {
    from { -moz-transform: rotate(0deg) }
    to   { -moz-transform: rotate(360deg) }
}

@keyframes roll {
    from { transform: rotate(0deg) }
    to   { transform: rotate(360deg) }
}
@keyframes entrar {
    from { 
        left: 114%;
        opacity: 0; 
    }
    to   {
        left: 0%;
        opacity: 1;
     }
    50%
    {
      left: 114%;
        opacity: 0; 
    }
}


@keyframes escalar {
    from { 
        font-size: 50px;
         top: 125px;
    }
    50%   {
       font-size: 15px;
       top: 225px;
     }
     to   {
       font-size: 50px;
       top: 125px;
     }
    
}

h1 {
    -moz-animation-name: roll;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: roll;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

html,body,div {
   margin: 0;
   padding: 0;
   height: 100%;
   overflow: hidden;
}
#ejemplo
{
   position: absolute;
   -moz-animation-name: entrar;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: entrar;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
}
#sinForma
{
    position: absolute;
   -moz-animation-name: escalar;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-name: escalar;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    top: 125px;
}
