table
{
    border:1px solid;
}
#juego td
{
    font-size: 30px;
    height: 100px;
    width: 100px;
    border:1px solid;
    border-collapse: collapse;
    text-align: center;
}
.cara
{

    background-image: url(cara.png);
}
.cruz
{
    background-image: url(cruz.jpg);
}