.container{
    position: relative;
  }
  .caja{
    width: 180px;
    height: 180px;
    background-color: #30B037;
    color: #FFF;
    text-align: center;
    line-height: 180px;
    margin: 15px;
    float: left;
    font-size: 18px;
    font-family: Arial;
  }
.caja1
{
    transition: transform 1s;
    background-color: red;
}
.caja1:hover
{
    transform: scale(2, 2);
}
.caja2
{
    transition: transform 1s;
    background-color: #9752c3;
}
.caja2:hover
{
    transform: rotate(90deg);
}

.caja3
{
    background-color: #4697f4;
    transition: transform 1s;
}
.caja3:hover
{
   transform: skew(20deg, 20deg);
}

.caja4
{
      background-color: #65adff;
    transition: transform 1s;
}
.caja4:hover
{
   transform: skewX(20deg);
}
.caja5
{
    background-color: #44aeb7;
    transition: transform 1s;
}
.caja5:hover
{
   transform: skewY(20deg);
}
.caja6
{
    background-color: #ffba00;
    transition: transform 1s;
}
.caja6:hover
{
   transform: translate(0px, 210px);
}
.caja7
{
     background-color: #ff4e00;
    transition: transform 1s;
}
.caja7:hover
{
   transform: translateX(-210px);
}
.caja8
{
     background-color: #afafaf;
    transition: transform 1s;
}
.caja8:hover
{
    
   transform: translateY(210px);
}
.caja9
{
     background-color: #4c53a5;
    transition: transform 1s;
}
.caja9:hover
{
 transform: perspective(400px) rotateY(45deg);
}
.caja10
{
    background-color: gray;
    transition: transform 1s;
}
.caja10:hover
{
  transform: perspective(400px) rotateY(-45deg);
}
.caja11
{
    background-color: black;
    transition: transform 1s;   
}
.caja11:hover
{
    transform: matrix(1, 2, -1, 1, 80, 80);
 
}