body
{
    background-color: #6394b2;
}
nav
{
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid;
    min-height: 200px;
}
nav>img
{
    width:50%;
    
}
nav>ul
{
    list-style: none;
    display: inline-flex;
    
}
ul>li>a
{
    
}